<a target="_blank" href="https://colab.research.google.com/github/trainocate-japan/Machine-Learning-and-Deep-Learning-Hands-on/blob/main/answer/2_線形回帰/2-1_線形回帰_ダイジェスト.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [ ]:
# ライブラリのインポート
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
# データの準備
totsuka_used = pd.read_csv("totsuka_used.csv")
display(totsuka_used.info())      # データの要約を確認
display(totsuka_used.describe())  # データの統計情報を確認
train_x = pd.get_dummies( totsuka_used[['築年数','最寄駅距離（分）','面積（㎡）','地区名', '間取り']])
train_y = totsuka_used['取引価格']
train_x, val_x, train_y, val_y = train_test_split(train_x, train_y, train_size=0.7, test_size=0.3, random_state=0)
# モデルの定義
model = LinearRegression()
# 学習
model.fit(train_x, train_y)
# 評価
print(f'訓練データ精度：{model.score(train_x, train_y)}')
print(f'検証データ精度：{model.score(val_x, val_y)}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   地区名       238 non-null    object
 1   最寄駅距離（分）  238 non-null    int64
 2   取引価格      238 non-null    int64
 3   間取り       238 non-null    object
 4   面積（㎡）     238 non-null    int64
 5   建築年       238 non-null    object
 6   築年数       238 non-null    int64
 7   構造        238 non-null    object
 8   都市計画      238 non-null    object
 9   建ぺい率（％）   238 non-null    int64
 10  容積率（％）    238 non-null    int64
 11  取引年       238 non-null    int64
 12  改装        238 non-null    object
dtypes: int64(7), object(6)
memory usage: 24.3+ KB

None

,最寄駅距離（分）,取引価格,面積（㎡）,築年数,建ぺい率（％）,容積率（％）,取引年
count,238.000000,2.380000e+02,238.000000,238.000000,238.000000,238.000000,238.000000
mean,27.348739,2.438151e+07,68.340336,25.899160,60.504202,195.126050,2019.680672
std,17.104550,1.408762e+07,13.942231,14.339697,4.656784,69.886775,0.628880
min,1.000000,1.500000e+06,15.000000,2.000000,40.000000,80.000000,2019.000000
25%,14.000000,1.400000e+07,60.000000,14.000000,60.000000,150.000000,2019.000000
50%,24.000000,2.400000e+07,70.000000,24.500000,60.000000,200.000000,2020.000000
75%,45.000000,3.275000e+07,75.000000,36.000000,60.000000,200.000000,2020.000000
max,75.000000,7.000000e+07,110.000000,53.000000,80.000000,600.000000,2021.000000

訓練データ精度：0.8577214813763392
検証データ精度：0.763436474813894